jupyterlite==0.1.0b18
jupyterlab
ipywidgets
ipycanvas
ipyevents
ipyleaflet
ipympl
bqplot
jupyterlab-fasta
jupyterlab-geojson
plotly
theme-darcula
ipydatagrid
ipycytoscape
seaborn
matplotlib
altair
ipyvuetify
jlab-enhanced-cell-toolbar
./amperitycolors
./amperityfrontend
